/** ADD YOUR AWESOME CODES HERE **/
#home {
	height: 100%;
}

.drlicitacao-banner {
  background: linear-gradient(to right, #60B6E5 0%, rgba(96, 182, 229, 0.3) 100%);
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 75px 0;
}

.drlicitacao-banner img {
  height: 276px;
}

.drlicitacao-texts {
  max-width: 320px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.drlicitacao-texts h2 {
  margin-top: 10px;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  align-self: center;
  line-height: 290px;
  color: white;
  padding: 0;
  text-align: center;
}

.drlicitacao-texts h4 {
  margin-top: 10px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  align-self: center;
  line-height: 195px;
  color: black;
  padding: 0;
  text-align: center;
}

.drlicitacao {
  background: linear-gradient(to right, #60B6E5 0%, rgba(96, 182, 229, 0.3) 100%);
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 75px 0;
}

.drlicitacao img {
  height: 380px;
}

.drlicitacao-buttons {
  color: #4D4C4E;
  background: white;
}

@media (max-width: 675px) {
  .drlicitacao-banner {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  
  .drlicitacao-banner img {
    height: 215px;
  }

  .drlicitacao-texts {
    margin-bottom: 15px;
  }

  .drlicitacao {
    display: flex;
    flex-direction: column;
    height: 750px;
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.cards {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 24px;
  }

.cards2 {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 35px;
  padding: 0 20px;
}

  div.card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    height: auto;
    background-color: white;
    }

  .card3 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .card3 h1 {
    margin-top: 15px;
    margin-left: 16px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 41px;
    color: #1f3864;
  }
  
  .card3 h3 {
    margin: 15px 0 15px 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #1f3864;
  }
  
  .card3 p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
    padding: 0px 25px 15px 25px;
    margin: 0;
  }

  div.card-blog {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    height: auto;
    background-color: white;
    }

  .card-blog img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  .card-blog h1 {
    margin-top: 15px;
    margin-left: 16px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 41px;
    color: #1f3864;
  }
  
  .card-blog h2 {
    margin-top: 10px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 195px;
    color: white;
    padding: 0  0 3px 0;
  }
  
  .card-blog h3 {
    margin: 15px 0 15px 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #1f3864;
  }
  
  .card-blog p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
    padding: 0px 25px 25px 25px;
    margin: 0;
  }
  
  div.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    height: auto;
    max-height: 612px;
    /* min-height: 580px; */
    background-color: white;
    width: auto;
    max-width: 360px;
    min-width: 340px;
    margin: 0 14px;
  }
  
  .card2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .card2 h1 {
    margin-top: 10px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 195px;
    color: white;
    padding: 0  0 3px 0;
  }
  
  .card2 h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1707px;
    color: white;
    margin-left: 1px;
  }
  
  .card2 p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
    padding: 13px 25px 25px 25px;
    margin: 0;
  }



  .date-block {
    position: absolute;
    bottom: 90px;
    right: 355px;
    background: rgba(125, 58, 60, 0.9);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    width: 170px;
    height: 40px;
    text-align: center;
  }

  .text-block {
    position: absolute;
    bottom: 7px;
    right: 148px;
    background: rgba(125, 58, 60, 0.9);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    width: 200px;
    height: 60px;
  }

  .grow { 
    transition: all .2s ease-in-out; 
  }
    
  .grow:hover { 
    transform: scale(1.1);
  }

  .social-facebook {
    background: #225b99 !important;
  }
  
  .social-twitter {
    background: #00adf2 !important;
  }
  
  .social-google-plus {
    background: #dc4d2d !important;
  }
  
  .social-pinterest {
    background: #cc2127 !important;
  }
  
  .social-linkedin {
    background: #4875B4 !important;
  }
  
  .social-whatsapp {
    background: #25D366 !important;
  }
  
  .social-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
  }
  
  .social-web {
    background: #1f3864 !important;
  }

  @media (max-width: 770px) {
    .cards {
      grid-template-columns: 1fr;
    }
    .cards2 {
      grid-template-columns: 1fr;
    }
    .grow {
      transition: none;
    }
    .grow:hover {
      transform: none;
    }
}

.footer-title {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

/*----------------------------*\
  input
\*----------------------------*/

.input {
	width: 100%;
	height: 40px;
	padding: 0px 15px;
	background-color: #fff;
	border-radius: 2px;
	border: 2px solid #e8eaed;
}

textarea.input {
	padding: 15px;
	height: 90px;
}


/*----------------------------*\
  CONTACT
\*----------------------------*/

.contact li {
	position: relative;
	margin: 20px 0px;
	padding-left: 55px;
	padding-top: 5px;
	min-height: 40px;
}

.contact li i {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	text-align: center;
	height: 40px;
	background: #fff;
	color: #1f3864;
	border: 1px solid #e8eaed;
	line-height: 40px;
	border-radius: 50%;
}

.footer-widget .contact li i {
	color: #97989b;
	background-color: #353535;
	border: none;
}

.contact-social li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 6px;
}

.contact-social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    color: #fff !important;
}

@media (max-width: 767px) {
	.copyrights > .container {
		display: block;
	}

	.footer-widget {
		margin-bottom: 20px;
	}
}

@media (min-width: 767px) {
	.copyrights > .container {
		display: flex;
	}
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
  div.card2 {
    margin: 0;
    align-self: center;
  }

  .text-block {
    right: 170px;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}