{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
    <!-- Site Metas -->
    <title>Gestotus</title>  
	<link rel="icon" href="../static/img/head-icon-logo.png" type="image/x-icon">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

    <!-- LOADER -->
    <!--<div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>--><!-- end loader -->
    <!-- END LOADER -->
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="../static/img/logotrns.png" style="width: 230px;" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Quem Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#membros">Membros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	<section id="home" style="background: url('../static/img/facebookcover.jpg'); background-size: contain; background-repeat: no-repeat;">
		<!--<div class="heading">
			<h1>Welcome to OnNext</h1>			
			<h3 class="cd-headline clip is-full-width">
				<span>Lorem Ipsum Dolor Sit Amet </span>
				<span class="cd-words-wrapper">
					<b class="is-visible">Web Developer</b>
					<b>Web Design</b>
					<b>Creative Design</b>
					<b>Graphic Design</b>
				</span>
				<div class="btn-ber">
					<a class="get_btn hvr-bounce-to-top" href="#">Get started</a>
					<a class="learn_btn hvr-bounce-to-top" href="#">Learn More</a>
				</div>
			</h3>
		</div> -->
	</section>

    <div id="about" class="section lb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2>Quem Somos</h2>
                        <p>A GESTOTUS Consultoria, Assessoria e Treinamento criada em 2015, atua em serviços de consultoria, assessoria e capacitação voltados para gestão pública e privada, com expertise em interpretação, elaboração, gestão, execução e prestação de contas de editais; diagnóstico, pesquisa e mapeamento de vocação produtiva; construção de cenários para o desenvolvimento local; elaboração e monitoramento de indicadores; modelagem de negócios locais; gestão de contratos, instrução e fluxo processual; desenho/estrutura de Lei Delegada; licitação; gestão, capacitação e desenvolvimento de compras públicas; planejamento empresarial.</p>
						<!-- <p>Trabalhamos com transparência, responsabilidade, cumprindo prazos, fornecendo soluções eficazes e inteligentes em busca da excelência e resultado final dos serviços de forma satisfatória.É uma honra fazer parte dessa história e mudar realidades, fomentando o desenvolvimento econômico e social, fazendo com que o fruto do nosso trabalho tenha consequências positivas numa rede de ações contínuas e encadeadas, trazendo resultados coletivos construtivos.</p> -->
						<div>
							<!--<a href="#contact" class="sim-btn hvr-bounce-to-top nav-link js-scroll-trigger"><span>Entre em Contato</span></a> -->
							<ul class="contact-social">
								<li><div class="grow"><a href="https://www.facebook.com/gestotusconsultoria" target="_blank" class="social-facebook"><i class="fa fa-facebook"></i></a></div></li>
								<li><div class="grow"><a href="https://twitter.com/gestotus" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a></div></li>
								<li><div class="grow"><a href="https://www.linkedin.com/company/gestotus-consultoria/" target="_blank" class="social-linkedin"><i class="fa fa-linkedin"></i></a></div></li>
								<li><div class="grow"><a href="https://www.instagram.com/gestotus/?hl=pt-br" target="_blank" class="social-instagram"><i class="fa fa-instagram"></i></a></div></li>
							</ul>
						</div>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="{% static 'img/IMG-20191008-WA0012.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
	
	<div id="membros" class="section wb">
		<div class="container">
			<div class="section-title text-center">
                <h3>Nossos Membros</h3>
                <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
            </div><!-- end title -->
			
			<div class="row">
				<div class="col-md-12">
					<div id="recipeCarousel" class="carousel slide" data-ride="carousel" style="padding: 0 0 100px 0;">
						<!-- <ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
						</ol> -->
						<div class="carousel-inner w-100" role="listbox" style="overflow: hidden;">
							<div class="carousel-item active" style="padding: 30px 0">
								<!-- <div class="cards"> -->
									<div class="card2 grow">
										<img src="/static/img/tatyanalima.jpeg" alt="Foto Tatyana Lima">
										<h1>Tatyana Lima</h1>
										<div style="display: flex; align-items: center; justify-content: space-between;">
											<h3>Sócia</h3>
											<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="#" class="social-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li></div></ul>
										</div>
										<p>
											• Empresária, economista, docente, mestre em Economia Aplicada
											<br>
											• Consultora com experiência na elaboração, análise e gestão de projetos
											<br>
										</p>
									</div>
								<!-- </div> -->
							</div>
							<div class="carousel-item" style="padding: 30px 0">
								<!-- <div class="cards"> -->
									<div class="card2 grow">
										<img src="/static/img/partner1.jpg" alt="Foto Rúbia Barbalho">
										<h1>Rúbia Barbalho</h1>
										<div style="display: flex; align-items: center; justify-content: space-between;">
											<h3>Sócia</h3>
											<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="#" class="social-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li></div></ul>
										</div>
										<p>
											• Empresária, economista, docente, mestre em Economia Aplicada
											<br>
											• Consultora com experiência na elaboração, análise e gestão de projetos
											<br>
										</p>
									</div>
								<!-- </div> -->
							</div>
							<div class="carousel-item" style="padding: 30px 0">
								<!-- <div class="cards"> -->
									<div class="card2 grow">
										<img src="/static/img/daysecahet.jpeg" alt="Foto Dayse Cahet">
										<h1>Dayse Cahet</h1>
										<div style="display: flex; align-items: center; justify-content: space-between;">
											<h3>Sócia</h3>
											<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="#" class="social-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li></div></ul>
										</div>
										<p>
											• Empresária, economista, docente, mestre em Economia Aplicada
											<br>
											• Consultora com experiência na elaboração, análise e gestão de projetos
											<br>
										</p>
									</div>
								<!-- </div> -->
							</div>
							<div class="carousel-item" style="padding: 30px 0">
								<!-- <div class="cards"> -->
									<div class="card2 grow">
										<img src="/static/img/franciscorosario.jpeg" alt="Francisco Rosário">
										<h1>Francisco Rosário</h1>
										<div style="display: flex; align-items: center; justify-content: space-between;">
											<h3>Sócio</h3>
											<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="#" class="social-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li></div></ul>
										</div>
										<p>
											• Empresária, economista, docente, mestre em Economia Aplicada
											<br>
											• Consultora com experiência na elaboração, análise e gestão de projetos
											<br>
										</p>
									</div>
								<!-- </div> -->
							</div>
							<div class="carousel-item" style="padding: 30px 0">
								<!-- <div class="cards"> -->
									<div class="card2 grow">
										<img src="/static/img/joaogeraldo.jpeg" alt="Foto João de Oliveira">
										<h1>João de Oliveira</h1>
										<div style="display: flex; align-items: center; justify-content: space-between;">
											<h3>Sócio</h3>
											<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="#" class="social-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li></div></ul>
										</div>
										<p>
											• Empresária, economista, docente, mestre em Economia Aplicada
											<br>
											• Consultora com experiência na elaboração, análise e gestão de projetos
											<br>
										</p>
									</div>
								<!-- </div> -->
							</div>
							<div class="carousel-item" style="padding: 30px 0">
								<!-- <div class="cards"> -->
									<div class="card2 grow">
										<img src="/static/img/mellbezerra.jpeg" alt="Foto Tatyana Lima">
										<h1>Melry Bezerra</h1>
										<div style="display: flex; align-items: center; justify-content: space-between;">
											<h3>Sócia</h3>
											<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="#" class="social-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li></div></ul>
										</div>
										<p>
											• Empresária, economista, docente, mestre em Economia Aplicada
											<br>
											• Consultora com experiência na elaboração, análise e gestão de projetos
											<br>
										</p>
									</div>
								<!-- </div> -->
							</div>
							<div class="carousel-item" style="padding: 30px 0">
								<!-- <div class="cards"> -->
									<div class="card2 grow">
										<img src="/static/img/dawison.jpeg" alt="Foto Dawison Calheiros">
										<h1>Dawison Calheiros</h1>
										<div style="display: flex; align-items: center; justify-content: space-between;">
											<h3>Sócio</h3>
											<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="#" class="social-whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a></li></div></ul>
										</div>
										<p>
											• Empresária, economista, docente, mestre em Economia Aplicada
											<br>
											• Consultora com experiência na elaboração, análise e gestão de projetos
											<br>
										</p>
									</div>
								<!-- </div> -->
							</div>
						</div>
						<a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev" style="left: -130px;">
							<span class="carousel-control-prev-icon" aria-hidden="true" style="width: 40px; height: 40px;"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next" style="right: -130px;">
							<span class="carousel-control-next-icon" aria-hidden="true" style="width: 40px; height: 40px;"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
            </div>
			
		</div>
	</div>

    <div class="copyrights">
        <div class="container" style="justify-content: center;">
        	<div class="row" style="padding-top: 20px;">
				<div class="col-md-4">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="{% url 'index' %}"><img src="{% static 'img/logotrns.png' %}" height="70" width="230" alt="Logo Gestotus"></a>
						</div>
						<p style="margin: 13px 0;">Gestão, inovação e inspiração !</p>
						<ul class="contact-social">
							<li><div class="grow"><a href="https://www.facebook.com/gestotusconsultoria" target="_blank" class="social-facebook"><i class="fa fa-facebook"></i></a></div></li>
							<li><div class="grow"><a href="https://twitter.com/gestotus" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
							<li><div class="grow"><a href="https://www.linkedin.com/company/gestotus-consultoria/" target="_blank" class="social-linkedin"><i class="fa fa-linkedin"></i></a></div></li>
							<li><div class="grow"><a href="https://www.instagram.com/gestotus/?hl=pt-br" target="_blank" class="social-instagram"><i class="fa fa-instagram"></i></a></div></li>
							<!-- <li><div class="grow"><a href="#" target="_blank" class="social-whatsapp"><i class="fa fa-whatsapp"></i></a></div></li> -->
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer-widget">
						<h3 style="color: #97989b; font-weight: bold; font-family: Roboto; font-size: 16px;">Informações para contato</h3>
						<br>
						<ul class="contact">
							<li><i class="fa fa-phone"></i> (82)9.9690-4908 </li>
							<li><i class="fa fa-envelope"></i> <a href="#" style="color: #97989b;">gestotusconsultoria@gmail.com</a></li>
							<li><i class="fa fa-map-marker"></i> Maceió-Al, Brasil</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer-widget">
						<h3 style="color: #97989b; font-weight: bold; font-family: Roboto; font-size: 16px; padding-bottom: 1px;">Envie-nos um email</h3>
						<br>
						<form>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input class="input" type="email" name="email" placeholder="Seu Email" style="background-color: #353535; border: none; border-radius: 8px;">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input class="input" type="text" name="subject" placeholder="Assunto" style="background-color: #353535; border: none; border-radius: 8px;">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="input" name="message" placeholder="Messagem" style="background-color: #353535; border: none; border-radius: 8px;"></textarea>
									</div>
									<button id="sendMessageButton" class="sim-btn hvr-bounce-to-top" type="submit">Enviar Email</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
		<!-- <p class="footer-company-name" style>All Rights Reserved. &copy; 2020 <a href="#" style="color: #999999;">Gestotus</a></p> -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
	<!-- Camera Slider -->
	<script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script> 
	<script src="{% static 'js/parallaxie.js' %}"></script>
	<script src="{% static 'js/headline.js' %}"></script>
	<!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/recipeCarousel.js' %}"></script>

</body>
</html>