{% extends 'base.html' %}
{% load static %}
{% block pageheader %}
<!-- PAGE HEADER -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10 text-center">
					<h1 class="text-uppercase">Contato</h1>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>
<!-- /PAGE HEADER -->
{% endblock %}

{% block content %}

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<div class="section-row">
						<div class="section-title">
							<h2 class="title">Informação para contato</h2>
						</div>
						<p>Malis debet quo et, eam an lorem quaestio. Mea ex quod facer decore, eu nam mazim postea. Eu deleniti pertinacia ius. Ad elitr latine eam, ius sanctus eleifend no, cu primis graecis comprehensam eum. Ne vim prompta consectetuer, etiam signiferumque ea eum.</p>
						<ul class="contact">
							<li><i class="fa fa-phone"></i> (82)9.9690-4908 </li>
							<li><i class="fa fa-envelope"></i> <a href="#">gestotusconsultoria@gmail.com</a></li>
							<li><i class="fa fa-map-marker"></i> Maceió-Al, Brasil</li>
						</ul>
					</div>

					<div class="section-row">
						<div class="section-title">
							<h2 class="title">Envie-nos um email</h2>
						</div>
						<form>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input class="input" type="email" name="email" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input class="input" type="text" name="subject" placeholder="Assunto">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="input" name="message" placeholder="Messagem"></textarea>
									</div>
									<button class="primary-button">Enviar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4">
					<!-- social widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Redes Sociais</h2>
						</div>
						<div class="social-widget">
							<ul>
								<li>
									<a href="https://www.facebook.com/gestotusconsultoria" target="_blank" class="social-facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/gestotus" target="_blank" class="social-twitter">
										<i class="fa fa-twitter"></i>	
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/gestotus/?hl=pt-br" target="_blank" class="social-linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/gestotus/?hl=pt-br" target="_blank" class="social-instagram">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /social widget -->

					<!-- newsletter widget -->
					<!--<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Newsletter</h2>
						</div>
						<div class="newsletter-widget">
							<form>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
								<input class="input" name="newsletter" placeholder="Digite Seu Email">
								<button class="primary-button">Inscreva-se</button>
							</form>
						</div>
					</div>-->
					<!-- /newsletter widget -->
				</div>
				<div class="col-md-4">
					<img style="/*width: 90%; margin: 0 auto;*/ border-radius: 10px;" src="{% static 'dados/IMG-20191009-WA0002.jpg' %}" class="img-responsive">
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

{% endblock content %}
