{% extends 'base.html' %}
{% load static instagram_client %}
{% block content %}
	<!-- SECTION -->
	<div class="section">
		<!-- row -->
		<div id="hot-post" class="row hot-post">
			<div class="col-md-12 hot-post-left">
				<div class="post post-thumb">
					<a href="{% url 'blog_post' %}"><img id="img-principal" src="{% static 'img/facebookcover.jpg' %}" alt=""></a>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Recent posts</h2>
							</div>
							-->
						</div>
						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}"></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Technology</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<div class="clearfix visible-md visible-lg"></div>

						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Health</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Health</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Lifestyle</h2>
							</div>
							-->
						</div>
						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Fashion</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Technology</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Fashion & Travel</h2>
							</div>
							-->
						</div>
						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Technology & Health</h2>
							</div>
							-->
						</div>
						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Health</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->
				</div>
				<div class="col-md-4">
					<!-- ad widget-->
					<div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" =src="{% static 'img/sample4.jpg' %}" alt="">
						</a>
					</div>
					<!-- /ad widget -->

					<!-- social widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Social Media</h2>
						</div>
						<div class="social-widget">
							<ul>
								<li>
									<a href="https://www.facebook.com/gestotusconsultoria" target="_blank" class="social-facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/gestotus" target="_blank" class="social-twitter">
										<i class="fa fa-twitter"></i>	
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/gestotus/?hl=pt-br" target="_blank" class="social-linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/gestotus/?hl=pt-br" target="_blank" class="social-instagram">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /social widget -->

					<!-- category widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Serviços</h2>
						</div>
						<div class="category-widget">
							<ul>
								<li><a href="#">Consultoria em Convênio<span></span></a></li>
								<li><a href="#">Consultoria em Gestão de Projetos<span></span></a></li>
								<li><a href="#">Consultoria de Licitações e Contratos<span></span></a></li>
								<li><a href="#">Consultoria em Compliance e ética empresarial<span></span></a></li>
								<li><a href="#">Modelagem de negócios Locais<span></span></a></li>
							</ul>
						</div>
						<!--<div class="category-widget">
							<ul>
								<li><a href="#">Lifestyle <span>451</span></a></li>
								<li><a href="#">Fashion <span>230</span></a></li>
								<li><a href="#">Technology <span>40</span></a></li>
								<li><a href="#">Travel <span>38</span></a></li>
								<li><a href="#">Health <span>24</span></a></li>
							</ul>
						</div>-->
					</div>
					<!-- /category widget -->

					<!-- newsletter widget -->
					<!--<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Newsletter</h2>
						</div>
						<div class="newsletter-widget">
							<form>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
								<input class="input" name="newsletter" placeholder="Enter Your Email">
								<button class="primary-button">Subscribe</button>
							</form>
						</div>
					</div>-->
					<!-- /newsletter widget -->

					<!-- post widget -->
					<div class="aside-widget">
						<!--
						<div class="section-title">
							<h2 class="title">Popular Posts</h2>
						</div>
						-->
						<!-- post -->
						<!--
						<div class="post post-widget">
							<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="{% url 'category' %}">Lifestyle</a>
								</div>
								<h3 class="post-title"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="post post-widget">
							<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="{% url 'category' %}">Technology</a>
									<a href="{% url 'category' %}">Lifestyle</a>
								</div>
								<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="post post-widget">
							<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="{% url 'category' %}">Health</a>
								</div>
								<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="post post-widget">
							<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="{% url 'category' %}">Health</a>
									<a href="{% url 'category' %}">Lifestyle</a>
								</div>
								<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /post widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ad -->
				<div class="col-md-12 section-row text-center">
					<a href="#" style="display: inline-block;margin: auto;">
						<img class="img-responsive" src="{% static 'img/' %}" alt="">
					</a>
				</div>
				<!-- /ad -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4">
					<!--
					<div class="section-title">
						<h2 class="title">Lifestyle</h2>
					</div>
					-->
					<!-- post -->
					<!--
					<div class="post">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Fashion</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<!--
				<div class="col-md-4">
					<div class="section-title">
						<h2 class="title">Fashion</h2>
					</div>
				-->
					<!-- post -->
					<!--
					<div class="post">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!--
					<div class="section-title">
						<h2 class="title">Health</h2>
					</div>
					-->
					<!-- post -->
					<!--
					<div class="post">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<div class="col-md-4">
					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Technology</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Health</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- /post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Health</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Fashion</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Technology</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Fashion</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Health</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!--
					<div class="section-row loadmore text-center">
						<a href="#" class="primary-button">Load More</a>
					</div>
				</div>
				<div class="col-md-4">
					-->
					<!-- galery widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Instagram</h2>
						</div>
						<div class="galery-widget">
							<ul>
								{% instagram_user_recent_media instagram_profile_name %}
								{% for media in recent_media %}
									<li>
										<a href="//instagram.com/p/{{ media.shortcode }}">
											<img src="{{ media.thumbnail_src }}" alt="">
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

{% endblock content %}
