{% extends 'base.html' %}
{% load static instagram_client %}
{% block content %}
	<!-- row -->
	<div id="hot-post" class="row hot-post">
		<div class="col-md-12 hot-post-left">
			<div class="post post-thumb">
				<a href="{% url 'blog_post' %}"><img id="img-principal" src="{% static 'img/facebookcover.jpg' %}" alt=""></a>
			</div>
		</div>
	</div>
	<!-- /row -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container container-home">
			<!-- row -->
			<div class="row">
				<div class="col-md-12 d-flex justify-content-center">
					<!-- row -->
					<div class="row d-flex justify-content-center">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Recent posts</h2>
							</div>
							-->
						</div>
						<div>
							<div class="section-title">
								<h2 class="title"></h2>
							</div>
							<p><h3>Somos uma empresa de especialistas em modelagem de negócios, estratégia, gestão e pesquisa. Oferecemos soluções para empresas e para gestão pública que buscam melhores resultados.</h3></p>
							<div class="section-title">
								<h2 class="title"></h2>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel" style="border-radius: 10px;">
								<div class="card">
									<div class="card-heading">
										<h4>MISSÃO</h4>
									</div>
									<div class="panel-body text-dark" style="border-radius: 10px;">
										<p>Fornecer soluções criativas e inovadoras, através de assessoria, consultoria e treinamento com foco em resultados para os nossos clientes e parceiros.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel" style="border-radius: 10px;">
								<div class="card">
									<div class="card-heading">
										<h4>VISÃO</h4>
									</div>
									<div class="panel-body text-dark" style="border-radius: 10px; height: 160px; display: grid">
										<p>Ser referência em consultoria e treinamento  para empresas e gestão pública até 2022.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel" style="border-radius: 10px;">
								<div class="card">
									<div class="card-heading">
										<h4>VALORES</h4>
									</div>
									<div class="panel-body text-dark" style="border-radius: 10px; height: 160px; display:grid">
										<p>Ética<br>Respeito<br>Comprometimento</p>
									</div>
								</div>
							</div>
						</div>
						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}"></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Technology</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<div class="clearfix visible-md visible-lg"></div>

						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Health</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Health</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row d-flex justify-content-center m-t-60">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Publicações Recentes</h2>
							</div>
						</div>

						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Fashion</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Fashion</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Fashion</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="text-center">
							<button class="primary-button">Ver mais</button>
						</div>						
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row d-flex justify-content-center m-t-60">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Soluções inteligentes para sua gestão</h2>
							</div>
						</div>

						<div class="col-md-3 text-center">
							<div class="icon-home" style="margin-left: 60px;">
								<img src="{% static 'svg/dollar-sign-solid.svg' %}" width="30" style="margin-top: -17px; margin-left: -5px;">
							</div>
							<hr>
							Preço
						</div>

						<div class="col-md-3 text-center">
							<div class="icon-home" style="margin-left: 60px;">
								<img src="{% static 'svg/calendar-check-solid.svg' %}" width="45" style="margin-top: -18px; margin-left: -12px;">
							</div>
							<hr>
							Prazo
						</div>

						<div class="col-md-3 text-center">
							<div class="icon-home" style="margin-left: 60px;">
								<img src="{% static 'svg/lightbulb-solid.svg' %}" width="40" style="margin-top: -21px; margin-left: -10px;">
							</div>
							<hr>
							Soluções
						</div>

						<div class="col-md-3 text-center">
							<div class="icon-home" style="margin-left: 60px;">
								<img src="{% static 'svg/award-solid.svg' %}" width="45" style="margin-top: -21px; margin-left: -13px;">
							</div>
							<hr>
							Qualidade
						</div>						
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row d-flex justify-content-center m-t-60">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="title">Alguns de nossos parceiros</h2>
							</div>
						</div>

						<div class="col-md-12">
							<div class="cards">
								<div class="grow">
									<div class="card2">
										<img src="/static/img/doutor-licitacao-wide-logo.png" alt="Logo Doutor Licitação">
									</div>
								</div>
								<div class="grow">
									<div class="card2">
										<img src="/static/img/licitotus-wide-logo.png" alt="Logo Licitotus">
									</div>
								</div>
								<div class="grow">
									<div class="card2">
										<img src="/static/img/fonte-preco-wide-logo.png" alt="Logo Fonte de Preços">
									</div>
								</div>
							</div>

						<div class="text-center">
							<button class="primary-button">Ver mais</button>
						</div>						
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row d-flex justify-content-center m-t-60">
						<div class="col-md-6">
							<div class="col-md-12">
								<div class="section-title">
									<h2 class="title">Produtos</h2>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel">
									<div class="card">
										<a href="{% url 'blog_post' %}"><img style="width: 100%; border-radius: 10px 10px 0px 0px;" src="{% static 'img/sample3.jpg' %}" alt=""></a>
										<div class="panel-body text-dark">
											<a href="">Curso 1</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel">
									<div class="card">
										<a href="{% url 'blog_post' %}"><img style="width: 100%; border-radius: 10px 10px 0px 0px;" src="{% static 'img/sample3.jpg' %}" alt=""></a>
										<div class="panel-body text-dark">
											<a href="">Curso 2</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel" style="border-radius: 10px;">
									<div class="card">
										<a href="{% url 'blog_post' %}"><img style="width: 100%; border-radius: 10px 10px 0px 0px;" src="{% static 'img/sample3.jpg' %}" alt=""></a>
										<div class="panel-body text-dark">
											<a href="">Curso 3</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel">
									<div class="card">
										<a href="{% url 'blog_post' %}"><img style="width: 100%; border-radius: 10px 10px 0px 0px;" src="{% static 'img/sample3.jpg' %}" alt=""></a>
										<div class="panel-body text-dark">
											<a href="">Curso 1</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel">
									<div class="card">
										<a href="{% url 'blog_post' %}"><img style="width: 100%; border-radius: 10px 10px 0px 0px;" src="{% static 'img/sample3.jpg' %}" alt=""></a>
										<div class="panel-body text-dark">
											<a href="">Curso 2</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="panel" style="border-radius: 10px;">
									<div class="card">
										<a href="{% url 'blog_post' %}"><img style="width: 100%; border-radius: 10px 10px 0px 0px;" src="{% static 'img/sample3.jpg' %}" alt=""></a>
										<div class="panel-body text-dark">
											<a href="">Curso 3</a>
										</div>
									</div>
								</div>
							</div>

							<div class="text-center">
								<button class="primary-button">Ver mais</button>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-12">
								<div class="section-title">
									<h2 class="title">Serviços</h2>
								</div>
							</div>
							<div class="col-md-12">
								<div class="category-widget">
									<ul>
										<li><a href="#">Consultoria em Convênio<span></span></a></li>
										<li><a href="#">Consultoria em Gestão de Projetos<span></span></a></li>
										<li><a href="#">Consultoria de Licitações e Contratos<span></span></a></li>
										<li><a href="#">Consultoria em Compliance e ética empresarial<span></span></a></li>
										<li><a href="#">Modelagem de negócios Locais<span></span></a></li>
									</ul>
								</div>
							</div>

							<div class="text-center">
								<button class="primary-button">Ver mais</button>
							</div>
						</div>	
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Lifestyle</h2>
							</div>
							-->
						</div>
						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Fashion</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Technology</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Fashion & Travel</h2>
							</div>
							-->
						</div>
						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<!--
							<div class="section-title">
								<h2 class="title">Technology & Health</h2>
							</div>
							-->
						</div>
						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Health</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Travel</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->

						<!-- post -->
						<!--
						<div class="col-md-4">
							<div class="post post-sm">
								<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-category">
										<a href="{% url 'category' %}">Lifestyle</a>
									</div>
									<h3 class="post-title title-sm"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
									<ul class="post-meta">
										<li><a href="{% url 'author' %}">John Doe</a></li>
										<li>20 April 2018</li>
									</ul>
								</div>
							</div>
						</div>
						-->
						<!-- /post -->
					</div>
					<!-- /row -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ad -->
				<div class="col-md-12 section-row text-center">
					<a href="#" style="display: inline-block;margin: auto;">
						<img class="img-responsive" src="{% static 'img/' %}" alt="">
					</a>
				</div>
				<!-- /ad -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4">
					<!--
					<div class="section-title">
						<h2 class="title">Lifestyle</h2>
					</div>
					-->
					<!-- post -->
					<!--
					<div class="post">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Fashion</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<!--
				<div class="col-md-4">
					<div class="section-title">
						<h2 class="title">Fashion</h2>
					</div>
				-->
					<!-- post -->
					<!--
					<div class="post">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!--
					<div class="section-title">
						<h2 class="title">Health</h2>
					</div>
					-->
					<!-- post -->
					<!--
					<div class="post">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">
				<div class="col-md-4">
					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Technology</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Health</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- /post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Health</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Fashion</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
				<div class="col-md-4">
					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Technology</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-widget">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						</div>
					</div>
					-->
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-8">
					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample1.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Travel</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample2.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Postea senserit id eos, vivendo periculis ei qui</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample3.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Fashion</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!-- post -->
					<!--
					<div class="post post-row">
						<a class="post-img" href="{% url 'blog_post' %}"><img src="{% static 'img/sample4.jpg' %}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="{% url 'category' %}">Health</a>
								<a href="{% url 'category' %}">Lifestyle</a>
							</div>
							<h3 class="post-title"><a href="{% url 'blog_post' %}">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
							<ul class="post-meta">
								<li><a href="{% url 'author' %}">John Doe</a></li>
								<li>20 April 2018</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
						</div>
					</div>
					-->
					<!-- /post -->

					<!--
					<div class="section-row loadmore text-center">
						<a href="#" class="primary-button">Load More</a>
					</div>
				</div>
				<div class="col-md-4">
					-->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

{% endblock content %}
