{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
    <!-- Site Metas -->
    <title>Gestotus</title>  
	<link rel="icon" href="static/img/head-icon-logo.png" type="image/x-icon">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&family=Montserrat:wght@500;600&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

    <!-- LOADER -->
    <!--<div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>--><!-- end loader -->
    <!-- END LOADER -->
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
      <div class="container" style="text-align: center;">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="static/img/logotrns.png" style="width: 230px;" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div style="text-align: center;" class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#cursos">Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
            </li>
			<li class="nav-item">
              {# <a class="nav-link js-scroll-trigger" href="#about">about</a> #}
			  <a class="nav-link" href="{% url 'about' %}">Sobre Nós</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	<section id="home" style="background: url('static/img/facebookcover.jpg');">
		<!--<div class="heading">
			<h1>Welcome to OnNext</h1>			
			<h3 class="cd-headline clip is-full-width">
				<span>Lorem Ipsum Dolor Sit Amet </span>
				<span class="cd-words-wrapper">
					<b class="is-visible">Web Developer</b>
					<b>Web Design</b>
					<b>Creative Design</b>
					<b>Graphic Design</b>
				</span>
				<div class="btn-ber">
					<a class="get_btn hvr-bounce-to-top" href="#">Get started</a>
					<a class="learn_btn hvr-bounce-to-top" href="#">Learn More</a>
				</div>
			</h3>
		</div> -->
	</section>

	
	
    <div id="services" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Serviços</h3>
                <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
            </div><!-- end title -->

            <div class="row">
				{% for area in areas %}
					<div class="col-md-6">
						<div class="services-inner-box">
							<div style="text-align: center; margin-top: 20px;">
								<h2>{{area.nome}}</h2>
							</div>
							<br>
							<ul style="color: #333333">
								{% for categoria in area.categorias.all %}
									<li>
										<span class="title-services">{{categoria.nome}}</span>
										<ul class="sub-services">
											<div style="width: 120%; background-color: gray;">
											{% for servico in categoria.servicos.all %}
												<li>- {{servico.nome}}</li>
											{% endfor %}
											</div>
										</ul>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

	<div id="drlicitacao" class="drlicitacao-banner">
		<img src="static/img/doutor-licitacao-logo.png" alt="Doutor Licitação">
		<div class="drlicitacao-texts">
			<h2>Posso te Ajudar ?</h2>
			<h4>Procurando ajuda para achar a licitacão ou serviço que precisa ?</h4>
		</div>
		<a href="/drlicitacao" class="sim-btn hvr-bounce-to-top" style="margin: 0 20px 0 20px;padding: 8px 60px; border-radius: 6px;"><span>Saiba Mais</span></a>
	</div>
	
	<div id="cursos" class="section lb">
		<div class="container">
			<div class="section-title text-center">
                <h3>Cursos</h3>
                <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
            </div><!-- end title -->
			<div class="cards">
				{% for curso in cursos %}
					<div class="card3 grow">
						<img src="{{curso.imagem.url}}" alt="">
						<h1>{{curso.titulo}}</h1>
						<p>{{curso.descricao}}</p>
						<div style="justify-content: center; display: flex; padding: 0;">
							<a target="_blank" href="{{curso.link}}" class="sim-btn hvr-bounce-to-top" style="width: 100%; border-radius: 0px 0px 12px 12px; padding: 12px 20px;"><span>Inscreva-se</span></a>
						</div>
					</div>
				{% endfor %}
			</div>
			<a href="/blog" class="sim-btn hvr-bounce-to-top" style="margin: 40px 465px 0px 465px; padding: 8px 60px; border-radius: 6px;"><span>Ver Mais</span></a>
		</div>
	</div>
	
	<div id="blog" class="section wb">
		<div class="container">
			<div class="section-title text-center">
                <h3>Blog</h3>
                <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
            </div><!-- end title -->
			
			<div class="cards2">
				{% for artigo in artigos %}
					<div class="card-blog grow">
						<img src="{{artigo.imagem.url}}" alt="">
						<div class="container-card" style="position: relative;">
							<div class="date-block">
								<h2>{{artigo.data_criacao|date:"j M Y"}}</h2>
							</div>
						</div>
						<h1>{{artigo.titulo}}</h1>
						<p>{{artigo.resumo}}</p>
					</div>
				{% endfor %}
			</div>

			<a href="/blog" class="sim-btn hvr-bounce-to-top" style="margin: 40px 465px 0px 465px; padding: 8px 60px; border-radius: 6px;"><span>Ver Mais</span></a>

			<!-- <div class="row">
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="{% static 'uploads/blog-01.jpg' %}" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>06</span>
								<span>Aug</span>
							</div>
						</div>
						<div class="post-info">
							<h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
							<ul>
                                <li>by admin</li>
                                <li>Apr 21, 2018</li>
                                <li><a href="#"><b> Comments</b></a></li>
                            </ul>
							<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="{% static 'uploads/blog-02.jpg' %}" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>06</span>
								<span>Aug</span>
							</div>
						</div>
						<div class="post-info">
							<h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
							<ul>
                                <li>by admin</li>
                                <li>Apr 21, 2018</li>
                                <li><a href="#"><b> Comments</b></a></li>
                            </ul>
							<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="{% static 'uploads/blog-03.jpg' %}" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>06</span>
								<span>Aug</span>
							</div>
						</div>
						<div class="post-info">
							<h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
							<ul>
                                <li>by admin</li>
                                <li>Apr 21, 2018</li>
                                <li><a href="#"><b> Comments</b></a></li>
                            </ul>
							<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
						</div>
					</div>
				</div>
				<a href="/blog" class="sim-btn hvr-bounce-to-top" style="margin-top: 30px"><span>Ver Mais</span></a>
			</div> -->
			
		</div>
	</div>

    <!-- <div id="contact" class="section db">
        <div class="container">
            <div class="section-title text-center">
                <h3>Contato</h3>
                <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" id="name" type="text" placeholder="Seu Nome" required="required" data-validation-required-message="Please enter your name.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="email" type="email" placeholder="Seu Email" required="required" data-validation-required-message="Please enter your email address.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="phone" type="tel" placeholder="Seu Telefone" required="required" data-validation-required-message="Please enter your phone number.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<textarea class="form-control" id="message" placeholder="Sua Menssagem" required="required" data-validation-required-message="Please enter a message."></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button id="sendMessageButton" class="sim-btn hvr-bounce-to-top" type="submit">Enviar Email</button>
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

	<div id="parceiros" class="section lb">
		<div class="container">
			<div class="section-title text-center">
				<h3>Parceiros</h3>
				<p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
			</div><!-- end title -->
		
			<div class="row">
				<div class="col-md-12">
					<div class="cards">
						{% for parceiro in parceiros %}
							<div class="card3 grow">
								<a href="{{ parceiro.link }}" target="_blank"><img src="{{parceiro.imagem.url}}" alt="Logo Doutor Licitação"></a>
								<!-- <div style="display: flex; align-items: center; justify-content: space-between;">
									<h3>Doutor Licitação</h3>
									<ul class="contact-social" style="padding: 0 30px 0 0;"><div class="grow"><li><a href="https://www.instagram.com/doctorlicitacao/" class="social-instagram" target="_blank"><i class="fa fa-instagram"></i></a></li></div></ul>
								</div> -->
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="copyrights">
        <div class="container" style="justify-content: center;">
        	<div class="row" style="padding-top: 20px;">
				<div class="col-md-4">
					<div class="footer-widget">
						<div class="footer-logo">
							<a href="{% url 'index' %}"><img src="{% static 'img/logotrns.png' %}" height="70" width="230" alt="Logo Gestotus"></a>
						</div>
						<p style="margin: 13px 0;">Gestão, inovação e inspiração !</p>
						<ul class="contact-social">
							<li><div class="grow"><a href="https://www.facebook.com/gestotusconsultoria" target="_blank" class="social-facebook"><i class="fa fa-facebook"></i></a></div></li>
							<li><div class="grow"><a href="https://twitter.com/gestotus" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
							<li><div class="grow"><a href="https://www.linkedin.com/company/gestotus-consultoria/" target="_blank" class="social-linkedin"><i class="fa fa-linkedin"></i></a></div></li>
							<li><div class="grow"><a href="https://www.instagram.com/gestotus/?hl=pt-br" target="_blank" class="social-instagram"><i class="fa fa-instagram"></i></a></div></li>
							<!-- <li><div class="grow"><a href="#" target="_blank" class="social-whatsapp"><i class="fa fa-whatsapp"></i></a></div></li> -->
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer-widget">
						<h3 style="color: #97989b; font-weight: 600; font-family: Montserrat; font-size: 16px;">Informações para contato</h3>
						<ul class="contact">
							<li><i class="fa fa-phone"></i> (82)9.9690-4908 </li>
							<li><i class="fa fa-envelope"></i> <a href="#" style="color: #97989b;">gestotusconsultoria@gmail.com</a></li>
							<li><i class="fa fa-map-marker"></i> Maceió-Al, Brasil</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer-widget">
						<h3 style="color: #97989b; font-weight: 600; font-family: Montserrat; font-size: 16px; padding-bottom: 16px;">Envie-nos um email</h3>
						<form>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group" style="margin-bottom: 0.8rem;">
										<input class="input" type="email" name="email" placeholder="Seu Email" style="background-color: #353535; border: none; border-radius: 6px;">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group" style="margin-bottom: 0.8rem;">
										<input class="input" type="text" name="subject" placeholder="Assunto" style="background-color: #353535; border: none; border-radius: 6px;">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group" style="margin-bottom: 0.8rem;">
										<textarea class="input" name="message" placeholder="Messagem" style="background-color: #353535; border: none; border-radius: 6px;"></textarea>
									</div>
									<button id="sendMessageButton" class="sim-btn hvr-bounce-to-top" style="padding: 7px 20px; border-radius: 6px;" type="submit">Enviar Email</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
	<!-- Camera Slider -->
	<script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script> 
	<script src="{% static 'js/parallaxie.js' %}"></script>
	<script src="{% static 'js/headline.js' %}"></script>
	<!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>

</body>
</html>
